<mat-card class="financial-market">

  <app-instrument-selector [instruments]="instruments"
                           (instrumentSelected)="onInstrumentSubscribe($event)">
  </app-instrument-selector>

  <app-market-price [marketData]="marketData$ | async"
                    [symbol]="symbol">
  </app-market-price>

  <app-historical-price class="historical-price"
                        [chartData]="chartData">

    <mat-form-field appearance="outline">
      <mat-label>Interval</mat-label>
      <mat-select [formControl]="timeFrameControl"
                  (selectionChange)="onTimeFrameSelected($event.value)">
        <mat-option *ngFor="let timeFrame of timeFrames"
                    [value]="timeFrame">
          {{ timeFrame.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </app-historical-price>

</mat-card>
